.root {
  position: relative;
  width: 80vw;
  height: 80vh;
  overflow: visible;
  padding: 28px 24px;

  &[open] {
    display: flex;
    flex-direction: column;
  }
}

.twoColumn {
  display: flex;
  gap: 42px;
}

.innerContainer {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.tokenChipContainer {
  display: flex;
  flex-wrap: wrap;
}

.closeButton {
  position: absolute;
  top: -24px;
  right: -24px;
  border: 1px black solid;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border-radius: 24px;

  .closeIcon {
    transform: rotate(45deg);
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
}

.tokenSlot {
  padding: 24px;
  border: grey 1px dotted;
}
