.root {
  display: grid;
  grid-template-areas:
    "side-bar . topbar topbar"
    "side-bar . main main";
  grid-template-columns: auto 24px repeat(2, auto);
  grid-template-rows: 100px auto auto;
}

.main {
  grid-area: main;
}

.topBar {
  grid-area: topbar;
  background-color: grey;
  padding: 12px;
}

.navRoot {
  display: flex;
}

.sideBarRoot {
  grid-area: side-bar;
  background-color: grey;
  padding: 24px 12px;
}

.sideBarColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sideBarButton {
  text-align: left;
}

.sideBarButtonActive {
  font-weight: bold;
  text-decoration: underline;
}
